.inform_cart{
    display: flex;
    align-items: center;
    max-width: 1500px;
    font-size: 25px;

}

.under_inform_cart{
    display: flex;
    justify-content: space-around;
    max-width: 500px;
}
.information_baro_data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    background: green;
    color: white;
    border: 1px solid black;
    width: 170 px;
    height: 135px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 35px;
}

.made_by{
    font-size: 35px;
    color: #FFD500;
    padding-top: 260px;
    font-weight: bold;
}


